Hi <%= @resource.user.email %>!

  <%= @matcher.account.display_name %></a> tought your resource: <%= @url_resource %>
  could be useful for this assignment: <%= @url_assign %> .
  Please take a look and confirm the match if you agree.

  Have a great day!
